<div>
  <div class="coach-card-list">
    @for(team of _paginatedResourceTeams().getEmbedded("teams")  ; track team.getSelfLink().href) {
      <app-team-card [team]="team" (deleteTeam)="onDeleteTeamEvent($event)" (modifyTeam)="onModifyTeamEvent($event)"></app-team-card>
    }
  </div>

  <mat-paginator
    [length]="_paginatedResourceTeams().page.totalElements"
    [pageSize]="_paginatedResourceTeams().page.size"
    [pageIndex]="_paginatedResourceTeams().page.number"
    (page)="onHandlePageEvent($event)"

    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 50]"
  ></mat-paginator>

</div>
