<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="opened" (openedChange)="openingService.isOpen.set($event)"  mode="over">
    <mat-nav-list>
      <a mat-list-item  (click)="sidenav.close()">Home</a>

      <a mat-list-item  (click)="sidenav.close()">Contact</a>
      <a mat-list-item  (click)="sidenav.close()" [routerLink]="['/coaches']">Entraineurs</a>
      <a mat-list-item  (click)="sidenav.close()" [routerLink]="['/halls']">Salles</a>
      <a mat-list-item  (click)="sidenav.close()" [routerLink]="['/teams']">Équipes</a>
      <a mat-list-item  (click)="sidenav.close()" [routerLink]="['/training-sessions']">Gestions créneaux</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
