
mat-card {
  width: 400px;
  margin: 20px auto;

  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-card-title {
      font-weight: bold;
      font-size: 1.4em;
    }
  }





}


.map-container {
  display: block;
  width: 100%;
  height: 200px; // Vous pouvez ajuster la hauteur selon vos besoins.
  border-radius: 4px; // Ajoute un coin arrondi, similaire à mat-card-image par défaut.
  overflow: hidden; // Assure que le contenu du mgl-map ne dépasse pas son conteneur.
}
