<mat-card>
  <mat-card-header>
    <mat-card-title>{{hallSignal().name}} </mat-card-title>
  </mat-card-header>
  <div [id]="uniqueId" class="map map-container"></div>
  @if(hallSignal().hasTemplate("updateHall") || hallSignal().hasTemplate("deleteHall")) {
  <mat-card-actions [align]="'end'">
    @if(hallSignal().hasTemplate("updateHall")) {
      <button mat-button (click)="onModify()">Modifier</button>
    }
    @if(hallSignal().hasTemplate("deleteHall")) {
      <button mat-button (click)="onDelete()">Supprimer</button>
    }
  </mat-card-actions>
  }
</mat-card>



